<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Reset and Base Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

         :root {
            --primary-color: #a855f7;
            --primary-color-dark: #9333ea;
            --secondary-color: #ca8a04;
            --text-dark: #1f2937;
            --text-light: #6b7280;
            --extra-light: #faf5ff;
            --max-width: 1200px;
        }


        nav {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #ffffff;
            z-index: 1;
        }

        .nav__content {
            max-width: var(--max-width);
            margin: auto;
            padding: 1.5rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav .logo a {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--primary-color);
            transition: 0.3s;
        }

        nav .logo a:hover {
            color: var(--primary-color-dark);
        }

        nav .checkbox {
            display: none;
        }

        nav input {
            display: none;
        }

        nav .checkbox i {
            font-size: 2rem;
            color: var(--primary-color);
            cursor: pointer;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style: none;
            transition: left 0.3s;
        }

        ul li a {
            padding: 0.5rem 1rem;
            border: 2px solid transparent;
            text-decoration: none;
            font-weight: 600;
            color: var(--text-dark);
            transition: 0.3s;
        }

        ul li a:hover {
            border-top-color: var(--secondary-color);
            border-bottom-color: var(--secondary-color);
            color: var(--secondary-color);
        }


        h1 {
            color: black;
        }

        /* Wrapper */
        .wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /* Add min-height to ensure the page takes up at least the full viewport height */
        }

        /* About Container */
        .about-container {
            width: 85%;
            background-color: white;
            box-shadow: 24px 24px 30px #6d8dad;
            padding: 2.5vh 2.5vw;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 2.5vh;
            margin-top: 90px;
        
            
        }

        .about-container h1 {
            font-size: 3vw;
        }

        /* Image Container */
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-container img {
            width: 50vw;
            /* Using vw unit for image width */
            max-width: 500px;
            /* Limiting max width */
            height: auto;
            margin: 2vh 0;
            border-radius: 10px;
        }

        /* Text Container */
        .text-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            font-size: 2vh;
            /* Using vh unit for font size */
        }

        .text-container a {
            text-decoration: none;
            padding: 1.2vh 2.5vw;
            margin: 5vh 0;
            color: black;
            /* Change link color to black */
            border-radius: 5px;
            transition: 0.3s all ease;
        }

        .text-container a:hover {
            background-color: rebeccapurple;
            color: white;
        }

        /* Accordion Styles */
        .accordion {
            cursor: pointer;
            padding: 1.8vh 2.5vw;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            font-size: 2.2vh;
            font-weight: bold;
            border-radius: 5px;
        }

        .accordion.active,
        .accordion:hover {
            background-color: rebeccapurple;
            color: white;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .accordion.active:after {
            content: "\2212";
        }

        /* Panel */
        .panel {
            padding: 0 2.5vw;
            display: none;
            overflow: hidden;
        }

        .show {
            display: block;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const accordions = document.querySelectorAll(".accordion");

            accordions.forEach(accordion => {
                accordion.addEventListener("click", function () {
                    const panel = this.nextElementSibling;
                    panel.classList.toggle("show");
                });
            });
        });
    </script>
    <title>About Us</title>
</head>

<body>
    <nav>
        <div class="nav__content">
            <div class="logo"><a href="#">Anuj Jaglan</a></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check" />
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </div>
    </nav>

    <div class="wrapper">
        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
        </div>
        <div class="about-container">
            <h1>About Me </h1>
            <p>
                Hi there! I'm Anuj Jaglan. I'm a passionate and dedicated web developer with a love for creating
                exceptional online experiences. My journey in the world of web development began when I discovered the
                power of turning ideas into interactive websites. I specialize in front-end and back-end development,
                crafting websites that not only look great but also function flawlessly.
            </p>
            </p>
            <p>
            <h3>My Vision</h3>
            My vision is to transform the web development industry by providing seamless and innovative online
            solutions. I aspire to be recognized as the go-to choice for clients who value quality, creativity, and
            hassle-free development. With a focus on cutting-edge technologies and client satisfaction, I aim to
            contribute positively to the online landscape while fostering long-lasting relationships with my clients.
            </p>
            <p>
            <h3>My Journey</h3>
            My journey started with a fascination for the web and its potential. I've since honed my skills through
            education, self-learning, and real-world projects. From personal blogs to e-commerce sites, I've had the
            privilege of working on a diverse range of web projects, each teaching me something new and exciting.
            </p>
            <p>
            <h3>My Expertise</h3>
            I specialize in web technologies like HTML, CSS, JavaScript, and various frameworks. I'm constantly keeping
            up with the latest industry trends and best practices to ensure that I deliver modern and efficient
            solutions for my clients. I'm not just a developer; I'm a problem solver who enjoys turning challenges into
            opportunities.
            </p>
            <p>
            <div class="text-container">
                <h3>Why work with me</h3>
                <br>
                <button class="accordion">1. Expertise</button>
                <div class="panel">
                    <div class="privacy-content">
                        <p>
                            With years of experience in web development, I have a deep understanding of the industry's
                            ins and outs. I keep up with the latest trends, technologies, and best practices to ensure
                            your project stays cutting-edge
                        </p>
                    </div>
                </div>
                <button class="accordion">2. Custom Solutions</button>
                <div class="panel">
                    <div class="privacy-content">
                        <p>
                            I don't believe in one-size-fits-all solutions. I take the time to understand your unique
                            needs and tailor my services to deliver a custom solution that perfectly fits your
                            requirements.
                        </p>
                    </div>
                </div>
                <button class="accordion">3. Passion</button>
                <div class="panel">
                    <div class="privacy-content">
                        <p>
                            Web development isn't just my job; it's my passion. I'm genuinely enthusiastic about
                            creating exceptional websites and applications. Your project becomes my project, and I
                            approach it with dedication and care.
                        </p>
                    </div>
                </div>
                <button class="accordion">4. Communication</button>
                <div class="panel">
                    <div class="privacy-content">
                        <p>
                            Transparent and open communication is vital. I keep you informed throughout the development
                            process, ensuring you're part of the decision-making and that your vision is realized.
                        </p>
                    </div>
                </div>
                <button class="accordion">5. Quality and Performance</button>
                <div class="panel">
                    <div class="privacy-content">
                        <p>
                            I'm committed to delivering high-quality, well-performing websites. Whether it's load times,
                            responsiveness, or user experience, I pay meticulous attention to the details that make a
                            difference.
                        </p>
                    </div>
                </div>
                <button class="accordion">6. Client Satisfaction</button>
                <div class="panel">
                    <div class="privacy-content">
                        <p>
                            Your satisfaction is my primary goal. I won't consider the project complete until you're
                            fully content with the results. I'm here to support you even after the project is finished.
                        </p>
                    </div>
                </div>
            </div>
            <p>
            <h3>Join Me on the Road Ahead</h3>
            Thank you for visiting my portfolio. I look forward to the opportunity to work with you and create
            outstanding web solutions.
            <br /><br />
            Feel free to reach out to me for more information about my web development skilss, to explore my portfolio
            of projects, and to start a new journey of digital excellence with me.
            </p>
        </div>
    </div>
    </div>
</body>

</html>