<!DOCTYPE html>
<html>

<head>
  <title>Anuj Jaglan</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/mobile.css" media="(max-width: 426px)" />
  {{!-- <link rel="stylesheet" href="/stylesheets/common.css" /> --}}
</head>

<body>

  {{>navbar}}

  {{{body}}}

  {{>footer}}
</body>

</html>