<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- Internal styles using CSS variables and Poppins font -->
    <style>
        :root {
            --primary-color: #a855f7;
            --primary-color-dark: #9333ea;
            --secondary-color: #ca8a04;
            --text-dark: #1f2937;
            --text-light: #6b7280;
            --extra-light: #faf5ff;
            --max-width: 1200px;
        }

        nav {
            font-family: "Poppins", sans-serif;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #ffffff;
            z-index: 1;
        }

        .nav__content {
            max-width: var(--max-width);
            margin: auto;
            padding: 1.5rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav .logo a {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--primary-color);
            transition: 0.3s;
        }

        nav .logo a:hover {
            color: var(--primary-color-dark);
        }

        nav .checkbox {
            display: none;
        }

        nav input {
            display: none;
        }

        nav .checkbox i {
            font-size: 2rem;
            color: var(--primary-color);
            cursor: pointer;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style: none;
            transition: left 0.3s;
        }

        ul li a {
            padding: 0.5rem 1rem;
            border: 2px solid transparent;
            text-decoration: none;
            font-weight: 600;
            color: var(--text-dark);
            transition: 0.3s;
        }

        ul li a:hover {
            border-top-color: var(--secondary-color);
            border-bottom-color: var(--secondary-color);
            color: var(--secondary-color);
        }
    </style>
</head>

<body>
    <!-- Navigation bar -->
    <nav>
        <div class="nav__content">
            <div class="logo"><a href="#">Anuj Jaglan</a></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check" />
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </div>
    </nav>

    <!-- Project section -->
    <div>
        <div style="color: white; width: 95vw; text-align: center; font-family: 'Roboto', sans-serif; font-size:30px; text-shadow: 1px 3px 2px rgba(255, 255, 255, 0.6);">
            My Projects
        </div>
        <div class="projects">
            <!-- Project 1 -->
            <a href="https://celadon-belekoy-d9ad04.netlify.app/" target="_blank" referrerpolicy='no-referrer'>
                <div class="project-tile">
                    <p class="project-title">Multi-API-Project</p>
                    <img class="project-icon" src="/images/icons/icon1.png" alt="icon" srcset="">
                </div>
            </a>

            <!-- Project 2 -->
            <a href="https://venerable-douhua-768055.netlify.app/" target="_blank" referrerpolicy='no-referrer'>
                <div class="project-tile">
                    <p class="project-title">To do List</p>
                    <img class="project-icon" src="/images/icons/icon2.png" alt="icon" srcset="">
                </div>
            </a>

            <!-- Project 3 -->
            <a href="https://6529f9b0d80c345849c1daf6--magenta-madeleine-39c34e.netlify.app/" target="_blank" referrerpolicy='no-referrer'>
                <div class="project-tile">
                    <p class="project-title">Weather App</p>
                    <img class="project-icon" src="/images/icons/icon3.png" alt="icon" srcset="">
                </div>
            </a>
        </div>
    </div>
</body>

</html>
