/* stylesheets/about.css */

/* Apply background color to the entire page */
body {
    background-color: #050505;
    color: #ffffff; /* Set text color to white for better readability on a dark background */
    font-family: Arial, sans-serif; /* Choose an appropriate font-family */
}

/* Style the header */
header {
    text-align: center;
    padding: 20px 0;
}

/* Style the main content sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for sections */
    border-radius: 10px; /* Rounded corners for sections */
}

h1, h2 {
    color: #ffaa00; /* Set heading text color to gold */
}

/* Style the list items */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #333; /* Dark background color for the footer */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    margin-top: 10px;
}

.social-link {
    color: #00bcd4; /* Change to your preferred link color */
    text-decoration: none;
    margin: 0 10px;
}

.social-link:hover {
    color: #fff; /* Change to your preferred link hover color */
}
