html,
body {
  height: 100%;
}

body {
    background: #050505;
    font-family: "Lora", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.882;
    color: #000000;
    margin: 0;
    padding: 0;
  }

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}