@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.header-nav-wrap ul {
    display: flex;
    width: 90vw;
    overflow-y: scroll;
}
.header-nav-wrap li a {
    display: block;
    line-height: 15px;
}

.banner{
    border: 1px solid black;
    padding: 50px 20px;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.banner-img{
    height: 20rem;
    width: 20rem;
    background-position: 0px 0px;
}
.banner-name{
    font-size: x-large;
}
.banner-profile{
    font-size: medium;
}
.banner-info{
    font-size: small;
}

.about-poster{
    height: 8rem;
}


.about-me{
    font-size: small;
    padding: 10px 6px;
}


.projects{
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.project-tile{
    margin-top: 20px;
}